openapi: 3.0.3
info:
  title: Logging Platform API
  version: 1.0.0
  description: API для управления логами и их анализа

paths:
  /v1/log:
    get:
      summary: Get a list of logs
      description: Returns a list of logs
      parameters:
        - name: serviceId
          in: query
          schema:
            type: string
          description: Service ID
        - name: serviceName
          in: query
          schema:
            type: string
          description: Service name
        - name: level
          in: query
          schema:
<<<<<<< HEAD
            $ref: '#/components/schemas/LogLevel'
=======
            $ref: '#/components/schemas/LogDataLevel'
>>>>>>> main
          description: Logging level for filtering
      responses:
        '200':
          description: List of logs
          content:
            application/json:
              schema:
                type: array
                items:
<<<<<<< HEAD
                  $ref: '#/components/schemas/PaginationDataLog'
=======
                  $ref: '#/components/schemas/LogData'
>>>>>>> main
        '500':
          description: Server error

components:
  schemas:
<<<<<<< HEAD
    PaginationDataLog:
      type: object
      description: Page wrapper
      properties:
        pageIndex:

          type: integer
        pageSize:
          type: integer
        pageCount:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/Log'
    Log:
=======
    ExceptionDto:
      type: object
      properties:
        refIid:
          type: integer
          description: Exception ID
        exceptionType:
          type: string
          description: Exception type
        message:
          type: string
          description: Exception message
        frames:
          type: array
          items:
            $ref: '#/components/schemas/ExceptionFrameDto'
          description: Exception frame

    ExceptionFrameDto:
      type: object
      properties:
        clazz:
          type: string
          description: The class with exception
        method:
          type: string
          description: The method with exception
        line:
          type: integer
          description: The line with exception

    ServicesDto:
      type: object
      properties:
        serviceId:
          type: string
          description: Service ID
        serviceName:
          type: string
          description: Service name

    LogDataLevel:
      type: string
      enum:
        - INFO
        - WARN
        - ERROR
      description: Log levels

    LogDataException:
      type: object
      description: Exception type
      properties:
        refIid:
          type: integer
        exceptionType:
          type: string
        message:
          type: string
        frames:
          type: array
          items:
            $ref: '#/components/schemas/ExceptionFrameDto'

    LogData:
>>>>>>> main
      type: object
      description: incoming message skeleton :)
      properties:
        timestamp:
          type: string
          format: date-time
        sequence:
          type: integer
        loggerClassName:
          type: string
        loggerName:
          type: string
        level:
<<<<<<< HEAD
          $ref: '#/components/schemas/LogLevel'
=======
          $ref: '#/components/schemas/LogDataLevel'
>>>>>>> main
        message:
          type: string
        threadName:
          type: string
        threadId:
          type: integer
        ndc:
          type: string
        mdc:
          type: object
          additionalProperties:
            type: object
        hostName:
          type: string
        processName:
          type: string
        processId:
          type: integer
        exception:
<<<<<<< HEAD
          $ref: '#/components/schemas/LogException'
        serviceName:
          type: string
        serviceId:
          type: string
    LogLevel:
      type: string
      enum:
        - INFO
        - WARN
        - ERROR
        - DEBUG
      description: Log levels
    LogException:
      type: object
      description: Exception type
      properties:
        refIid:
          type: integer
        exceptionType:
          type: string
        message:
          type: string
        frames:
          type: array
          items:
            $ref: '#/components/schemas/ExceptionFrame'
    ExceptionFrame:
      type: object
      properties:
        clazz:
          type: string
          description: The class with exception
        method:
          type: string
          description: The method with exception
        line:
          type: integer
          description: The line with exception
=======
          $ref: '#/components/schemas/LogDataException'
        serviceName:
          type: string
        serviceId:
          type: string
>>>>>>> main
