openapi: 3.0.3
info:
  title: Logging Platform API
  version: 1.0.0
  description: API для управления логами и их анализа

paths:
  /v1/log:
    get:
      summary: Get a list of logs
      description: Returns a list of logs
      parameters:
        - name: serviceId
          in: query
          schema:
            type: string
          description: Service ID
        - name: serviceName
          in: query
          schema:
            type: string
          description: Service name
        - name: level
          in: query
          schema:
            $ref: '#/components/schemas/LogLevel'
          description: Logging level for filtering
      responses:
        '200':
          description: List of logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaginationDataLog'
        '500':
          description: Server error

components:
  schemas:
    PaginationDataLog:
      type: object
      description: Page wrapper
      properties:
        pageIndex:
          type: integer
        pageSize:
          type: integer
        pageCount:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/Log'
    Log:
      type: object
      description: incoming message skeleton :)
      properties:
        timestamp:
          type: string
          format: date-time
        sequence:
          type: integer
        loggerClassName:
          type: string
        loggerName:
          type: string
        level:
          $ref: '#/components/schemas/LogLevel'
        message:
          type: string
        threadName:
          type: string
        threadId:
          type: integer
        ndc:
          type: string
        mdc:
          type: object
          additionalProperties:
            type: object
        hostName:
          type: string
        processName:
          type: string
        processId:
          type: integer
        exception:
          $ref: '#/components/schemas/LogException'
        serviceName:
          type: string
        serviceId:
          type: string
    LogLevel:
      type: string
      enum:
        - INFO
        - WARN
        - ERROR
        - DEBUG
      description: Log levels
    LogException:
      type: object
      description: Exception type
      properties:
        refIid:
          type: integer
        exceptionType:
          type: string
        message:
          type: string
        frames:
          type: array
          items:
            $ref: '#/components/schemas/ExceptionFrame'
    ExceptionFrame:
      type: object
      properties:
        clazz:
          type: string
          description: The class with exception
        method:
          type: string
          description: The method with exception
        line:
          type: integer
          description: The line with exception